@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: 55vw;
  max-height: 100vh;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background-color: #fff;
  margin-top: 40px;
}

.darkMode {
  background-color: #2f2d2d;
  color: wheat;
}

.cardBody {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: flex-start;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag+.tag {
  margin-left: .5em;
}

.tagBlue {
  background: #56CCF2;
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tagBrown {
  background: #D1913C;
  background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tagRed {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.cardBody h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.cardFooter {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.userImage {
  border-radius: 50%;
}

.userInfo>small {
  color: #666;
  font-size: 11px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cardImage {
  max-height: 400px;
  padding-bottom: 35px;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}